<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
 	<type name="Magento\Payment\Model\CcGenericConfigProvider">
		<arguments>
			<argument name="methodCodes" xsi:type="array">
				<item name="efipaypayment_embebed" xsi:type="string">efipaypayment_embebed</item>
			</argument>
		</arguments>
	</type>
</config>
