<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
 	<virtualType name="EfipayPaymentEmbebedAdapter" type="Magento\Payment\Model\Method\Adapter">
		<arguments>
			<argument name="code" xsi:type="string">efipaypayment_embebed</argument>
			<argument name="valueHandlerPool" xsi:type="object">EfipayPaymentEmbebedValueHandlerPool</argument>
			<argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
			<argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
		</arguments>
	</virtualType>

	<virtualType name="EfipayPaymentEmbebedValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
		<arguments>
			<argument  name="handlers" xsi:type="array">
				<item name="default" xsi:type="string">EfiPaymentEmbeddedConfigValueHandler</item>
			</argument>
		</arguments>
	</virtualType>

	<virtualType name="EfiPaymentEmbeddedConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
		<arguments>
			<argument name="configInterface" xsi:type="object">EfipayPaymentEmbebedGatewayConfig</argument>
		</arguments>
	</virtualType>

	<virtualType name="EfipayPaymentEmbebedGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
		<arguments>
			<argument name="methodCode" xsi:type="string">efipaypayment_embebed</argument>
		</arguments>
	</virtualType>
</config>
